<app-header></app-header>

<div class="container" style="margin-top:3%">
    <div class="card float-left rounded-3 shadow p-3 rounded" style="margin-left:5%">
        <div class="alert alert-warning" *ngIf='invalidAadhaar' >{{errorMessage}}</div>
        <div class="alert alert-warning" *ngIf='reLogin' >{{errorMessage}} <br>
            <a routerLink="">Navigate To Login Page...</a> </div>
        <div class="alert alert-warning" *ngIf='failGetDetailsOfPension' >{{errorMessage}} <br></div>
    <div class="col-xs-5">
        <label for="" style="font-size: 1rem;"><b>Please Enter 12 Digit Aadhaar Number of the Employee:</b></label><br>
<input type="text" [(ngModel)]="aadhaarNumber" maxlength="12" (keypress)="filterValue($event)" (keyup)="onKeyUp($event)" class="form-control rounded-0">
<br>
<button class="btn btn-success" (click)="fetchDetails()" [disabled]="showGetDetails()">Fetch Details</button>
</div>
</div>
<div *ngIf="showFetch;" class="card float-right rounded-3 shadow p-3 rounded" style="width: 20rem; height: 25rem; margin-right: 10%;" >
    <img class="rounded mx-auto d-block" src="../../assets/images/headshot-default.png" alt="Card image cap" style="max-height: 150px; max-width: 150px;">
    <div class="card-body">
    <table class="table-responsive center" style="position:absolute; 
    margin-left: 10%;
    margin-right: auto; 
    font-size: 1rem;
    border-spacing: 0 4%;">
        <tbody>
            <tr>
                <td><b>Name:</b></td> 
                <td>{{penDet[0]}}</td>
            </tr>
            <tr>
                <td><b>Date Of Birth:</b></td> 
                <td>{{penDet[1]}}</td>
            </tr>
            <tr>
                <td><b>Pan:</b></td> 
                <td>{{penDet[2]}}</td>
            </tr>
            <tr>
                <td><b>Salary:</b></td> 
                <td>{{penDet[3]}}</td>
            </tr>
            <tr>
                <td><b>Allowance:</b></td> 
                <td>{{penDet[4]}}</td>
            </tr> 
            <tr>
                <td><b>Pension Type:</b></td> 
                <td>{{penDet[5]}}</td>
            </tr> 
        </tbody>
    </table>
</div>
</div>
<div *ngIf="showFetch" class="container">
<div class="row float-left" style="position: absolute; bottom: 30%; margin-left:3%">
    <div class="card float-left rounded-3 shadow p-3 rounded" style="width: 28.4rem; height: 10rem;">
        <h5><b>Bank Charges*:</b></h5>
        <p><b>Private Bank:</b> INR 500<br>
           <b>Public Bank:</b> INR 550<br><br>
           <span class="text-muted" style="font-style: italic;">*Final Pension Amount will be = Pension Amount - Charges</span>
        </p>
    </div>
    <div class="row" style="position: absolute; ">
        <div class="col float-left" style="margin-top: 110%;">
    <button *ngIf="showPost" (click)="postDetails();handlePost()" class="btn btn-success">Process Pension</button>
    </div>
</div>
</div>
</div>
</div>

<!-- <p *ngFor="let pd of penDet">
    {{penDet}} -->
<app-footer></app-footer>